img {
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  position: fixed;
  min-height: 100%;
}

/* header */
.banner {
  background: #fffce6;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banner ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

/* burgermenu */
.toggle-btn {
  display: none;
  flex-direction: row;
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}
